<!DOCTYPE html>
<html>
<head>
  <title>DatingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user != nil %> 
    <ul> 
      <li><%= current_user.username %></li>
      <li><%= link_to 'View Profile', account_path %></li>
      <li><%= link_to 'Log out', logout_path, method: :delete %></li> 
    </ul> 
  <% else %> 
    <ul> 
      <li><%= link_to "Login", login_path %></li> 
      <li><%= link_to "Signup", new_person_path %></li> 
    </ul> 
  <% end %>
  <hr />

  <%= yield %>

</body>
</html>
